.mat-column-id {
    width: 100px;
    height:10vh;
}

.mat-column-actions {
    width: 150px;
    text-align: center;
    color:black;
}

.mat-column-courses {
    width: 180px;
    text-align: start;
    color:black;
}
